<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <!-- ngStyle directive -->
    <!-- <p [ngStyle]="{'font-size': '30px'}">font 1</p>
  <p [ngStyle]="{'font-size.px':'20'}">font 2</p>
  <p [ngStyle]="{'font-size':'10px','font-weight':'bold'}">font 3</p> -->

    <!-- ngIf directive -->
    <!-- <span *ngIf="num>6">
      num is greater than 6
    </span> -->

    <!-- ngFor directive -->
    <!-- <span *ngFor="let a of arr">
      {{a}}
    </span> -->

    <!-- ngSwitch directives -->
    <!-- <span [ngSwitch]="color">
      <span *ngSwitchCase="'red'">color is red</span>
      <span *ngSwitchCase="'blue'">color is blue</span>
    </span> -->

    <!-- pipes examples -->
    <!-- <p>
      {{value | uppercase}}
    </p>
    <p>
      {{value | lowercase}}
    </p> -->

    <!-- <button (click)="onSave($event)">save</button> -->

  <p>second component</p>


  </body>

</html>
