<ul>
  <li routerLink="builtinPipe">Built-in Pipes</li>
  <li routerLink="customPipe">Custom Pipes</li>
  <li routerLink="builtDirective">Built-in Directive</li>
  <li routerLink="customDirective">Custom Directive</li>
  <li routerLink="arrayMethods">Array Methods</li>
  <li routerLink="templateDrivenForm">Template Driven Form</li>
  <li routerLink="nestedTemplateDrivenForm">Nested template Driven Form</li>
  <li routerLink="inputOutputModel">@Input @Output Directives</li>
  <li routerLink="sendDataComponent">Send Data Component</li>
  <li routerLink="recieveDataComponent">Recieve Data Component</li>
  <li routerLink="reactiveForm">Reactive Form</li>
  <li routerLink="ngContent">Learn ng-content</li>
</ul>

<router-outlet></router-outlet>

<app-ng-content>
  <div>hey, this is for ng-content component</div>
</app-ng-content>
